<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mazmur Online</title>
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/vendor/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="css/vendor/jquery.splitter.css">
  <link rel="stylesheet" href="css/vendor/flat-ui.css">
  <link rel="stylesheet" href="css/style.css">
  
  <!--<script type="text/javascript" src="js/json2.js"></script> -->
  <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="js/vendor/jquery.splitter.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="js/vendor/backbone-min.js"></script>  
  <script type="text/javascript" src="js/vendor/backbone.picky.min.js"></script>  
  <script type="text/javascript" src="js/vendor/backbone.syphon.min.js"></script> 
  <script type="text/javascript" src="js/vendor/backbone.marionette.min.js"></script> 
  <script type="text/javascript" src="js/vendor/backbone.localStorage-min.js"></script>  
  <script type="text/javascript" src="js/vendor/firebase.js"></script>  
  <script type="text/javascript" src="js/vendor/backbone-firebase.js"></script>  

  <script type="text/javascript" src="js/mazmurApp.js"></script>
  <script type="text/javascript" src="js/laguEntity.js"></script>
  <script type="text/javascript" src="js/laguList.js"></script>
  <script type="text/javascript" src="js/previewList.js"></script>
  <script type="text/javascript" src="js/lirikViewer.js"></script>
  <script type="text/javascript" src="js/presenter.js"></script>
  <script type="text/javascript" src="js/schedule.js"></script>
  <script type="text/javascript" src="js/addEdit.js"></script>

  
  <script type="text/html" id="lagu-preview-template">
    <a href="#" class="lagu-preview">
      <div class="box-icon fui-arrow-right"></div>
      <h4 class="box-name">
        <%= judul %>
      </h4>
      <div class="menu-lagu">
        <a href="#" class="btn btn-inverse" id="edit-lagu">
          <span class="fui-new"></span>
        </a>
        <a href="#" class="btn btn-inverse" id="delete-lagu">
          <span class="fui-cross"></span>
        </a>
      </div>
    </a>    
  </script>
  
  <script type="text/html" id="lirik-view-template">
    <a href="#" data-ctr="<%= ctr %>" class="lirik-preview">
      <h4 class="box-name">
        <%= lirik%>
      </h4>
    </a>
  </script>

  <script type="text/html" id="preview-template">
    <div class="box">
      <div class="box-header">
        <input id="uploadBg" class="btn" type="file" accept="video/*|image/*" style="text-indent:-999px"/>
        <span id="bgName"></span>
        <h4>Preview</h4>
      </div>
      <ul id="preview-items">
      </ul>
    </div>
  </script>

  <script type="text/html" id="live-template">
    <div class="box">
      <div class="box-header">
        <div class="btn-group" style="float:right">
          <a href="#" class="btn btn-inverse" id="livePreview">
            <span class="fui-play"></span>
          </a>
          <a href="#" class="btn btn-inverse" id="clearPreview">
            <span class="fui-eye"></span>
          </a>
          <a href="#" class="btn btn-inverse" id="blankPreview">
            <span class="fui-radio-unchecked"></span>
          </a>
        </div>
        <h4>Live</h4>
      </div>
      <ul id="live-items">
      </ul>
    </div>
  </script>
  
  <script type="text/html" id="form-lagu-template">
  <div class="box">
    <div class="box-header">
      <h4>Form Lagu</h4>
    </div>
    <form class="form-vertical box-content">
      <div class="control-group">
        <label class="control-label" for="judul">
          Title:
        </label>
        <div class="controls">
          <input id="judul" type="text" name="judul" class="input-block-level" value="<%= typeof(judul)!='undefined' ? judul : '' %>"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="lirik">
          Lyrics:
        </label>
        <div class="controls">
          <textarea id="lirik" name="lirik" class="input-block-level" rows="10"><%= typeof(lirik)!='undefined' ? lirik : '' %></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn" id="simpan" type="submit" name="Simpan" value="Simpan">
            <i class="icon-ok-sign"></i> Save
          </button>
          <a href="#" id="removeAdd" class="btn btn-small"><i class="icon-remove"></i> Cancel</a>
        </div>
      </div>
    </form>
  </div>
  </script>

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container mainmenu">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://github.com/sonnylazuardi/mazmur">Fork Me at Github</a></li>
            <li><a href="http://www.youtube.com/watch?v=7rVbCwQRVYI">Watch Me at Youtube</a></li>
          </ul>
          <ul class="nav pull-right">
            <!-- <li><a href="">Login</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="contentPanel">
    <div class="splitter-pane" style="overflow:hidden">
      <div class="box">
        <div class="box-header">
          <input id="search-lagu" class="box-search-field" style="width:200px" type="search" value="" placeholder="Search Songs">
          <div class="btn-group">
            <a id="add-lagu" class="btn btn-inverse" href="#"><i class="fui-plus"></i></a>
            <a id="save-lagu" class="btn btn-inverse" href="#"><i class="fui-new"></i></a>
            <input id="loadLagu" class="btn" type="file" accept="text/*" style="text-indent:-999px"/>
          </div> 
        </div>
        <div id="schedule-list">
        </div>
        <div id="lagu-list">
        </div>
      </div>
    </div>
    <div id="livePanel">
      <div class="splitter-pane">
        <div id="lagu-form">
            
        </div>
        <div id="preview-list">
          
        </div>
      </div>
      <div class="splitter-pane">
        <div id="lirik-list">
            
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer">
    <div class="container">
      <p>&copy; 2013 Mazmur Online by Sonny Lazuardi</p>
    </div>
  </div> -->
  
  <script type="text/javascript">
    MazmurApp.start();
    $("#contentPanel").splitter({
      type: "v",
      // outline: true,
      minLeft: 250,
      maxLeft: 350,
      anchorToWindow: true,
      accessKey: "L"
    });
    // Second vertical splitter, nested in the right pane of the main one.
    $("#livePanel").splitter({
      type: "v",
      // outline: true,
      anchorToWindow: true,
      minRight: 200,
      maxRight: 500,
      accessKey: "R"
    });
  </script>

</body>
</html>